@import './subCategoriesTable';
@import './productTable';

.category__tab {
  display: block;

  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    @apply text-primary-blue_dark_1;
  }

  .ant-tabs-tab .ant-tabs-tab-btn {
    @apply text-primary-blue_dark_1;
  }

  .ant-tabs-ink-bar {
    @apply bg-primary-blue_dark_1;
    position: absolute;
    pointer-events: none;
  }
}
