.sidebar {
  position: absolute;
  background: #fff;
  height: 100%;
  min-height: 100vh;
  top: 0;
  border-right: 1px solid #e5e9f2;
  left: 0;
  transform: translateX(-100%);
  z-index: 1000;
  width: 224px;
  transition: transform 450ms ease, width 450ms ease;

  @media (min-width: 1024px) {
    overflow: hidden;
    transform: translateX(0);
  }

  &[data-show='true'] {
    transform: translateX(0);
  }

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(16, 25, 36, 0.4);
    z-index: 900;
    transform: translateX(-100%);
    animation: overlay-fade-in 0.4s ease 1;

    &[data-show='true'] {
      transform: translateX(0);
    }
  }

  &__fixed {
    position: fixed;
    max-height: 100vh;
  }

  &__element {
    overflow: hidden;
    width: 100%;
    max-height: 100%;
  }

  .ant-menu {
    @apply text-secondary select-none;

    &-submenu-title {
      padding-left: 28px !important;
    }

    &-title-content {
      @apply font-normal text-base;
      margin-left: 1rem;
    }

    &-item {
      padding-left: 28px !important;

      &::after {
        border: none !important;
      }

      &-selected {
        background: linear-gradient(
          90deg,
          rgba(196, 221, 255, 0.5) 0.89%,
          rgba(196, 221, 255, 0) 100%
        ) !important;
      }
    }

    &-sub {
      padding-left: 20px !important;

      &menu-selected {
        background: linear-gradient(
          90deg,
          rgba(196, 221, 255, 0.5) 0.89%,
          rgba(196, 221, 255, 0) 100%
        ) !important;
      }

      & .ant-menu-title-content {
        font-size: 14px;
      }

      .ant-menu-item {
        &-selected {
          background: transparent !important;
        }

        &-active {
          background: transparent !important;
        }
      }
    }
  }

  &__head {
    display: flex;
    align-items: center;
    padding: 14px 0;
    padding-left: 28px;
    min-width: 100%;
    height: 65px;
    border-bottom: 1px solid #e5e9f2;
  }

  &__toggle__close {
    color: #7a3fff;
    position: absolute;
    top: 23px;
    z-index: 1;
    right: 15px;
    font-size: 18px;
    transition: all 0.3s;

    &:hover:before {
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transform-origin: 50% 50%;
      content: '';
      height: 35px;
      width: 35px;
      background-color: #e5e9f2;
      border-radius: 50%;
    }
  }

  &__logo {
    @apply flex items-center text-left md:pb-2 md:mx-auto font-medium py-4 text-primary-blue_dark_3;
    font-size: 18px;
    letter-spacing: -0.05em;

    span {
      margin-left: 10px;
    }
  }

  &__navigation__title {
    @apply md:min-w-full inline-block text-sm text-primary-blue_dark_1 font-semibold pt-1 mb-4 uppercase;
    padding-left: 28px;
  }

  &__navigation__list {
    @apply items-center py-3;
    padding-left: 28px;

    &:not(:last-child) {
      margin-bottom: 6px;
    }

    &__active {
      @apply text-primary-blue_dark_2;
      background: linear-gradient(
        90deg,
        rgba(196, 221, 255, 0.5) 0.89%,
        rgba(196, 221, 255, 0) 100%
      );
      border-radius: 8px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &__navigation__link {
    @apply flex items-center font-normal text-xs;
  }

  &__navigation__ul,
  &__navigation__menu {
    @apply md:flex-col md:min-w-full flex flex-col list-none;
  }
}
