.product__inventory {
  @apply bg-white py-10 pb-8 px-7 mt-7;
  border-radius: 6px;

  &__heading {
    @apply text-primary-blue_dark_1;
    font-size: 18px;
    font-weight: 600;
  }

  input {
    @apply text-primary-blue_dark_1 font-normal;
  }

  .field__label {
    @apply text-primary-blue_dark_1 mb-4 block;
    font-size: 14px;
  }

  .ant-input-number {
    @apply text-primary-blue_dark_1 font-normal;
    border-radius: 4px !important;
    height: 56px;
    font-size: 15px;
    width: 100%;
    border: 1px solid rgba(0, 29, 110, 0.1);

    &-focused {
      @apply border border-solid border-primary-blue_dark_1;
      box-shadow: none;
      outline: none;
    }

    &-input-wrap {
      width: 100%;
      height: 100%;
    }

    input {
      width: 100%;
      height: 100%;
    }
  }
}
