.product__edit__organization {
  @apply bg-white py-10 pb-8 px-7;
  border-radius: 6px;

  &__heading {
    @apply text-primary-blue_dark_1;
    font-size: 18px;
    font-weight: 600;
  }

  label {
    @apply text-primary-blue_dark_1 mb-4 block;
    font-size: 14px;
  }

  .select__inner {
    &__control {
      @apply text-primary-blue_dark_1;
      height: 44px;
      border: 1px solid rgba(0, 29, 110, 0.1);
      border-radius: 4px;
      min-height: 56px;
      font-size: 15px;

      &:hover {
        border: 1px solid #dbdfea;
      }

      &--menu-is-open {
        box-shadow: none;
      }

      &--is-focused {
        box-shadow: none;
      }
    }

    &__placeholder {
      padding-left: 8px;
      font-weight: 400;
      font-size: 15px;
      color: #001d6e;
      opacity: 0.6;
    }

    &__indicator-separator {
      display: none;
    }
  }
}
