.settings__currency {
  @apply base:w-[68%];

  label {
    @apply block text-xs font-medium;
    color: #021342;
    margin-bottom: 13px;
  }

  .select__inner {
    &__control {
      height: 51px;

      &:hover {
        border: 1px solid #dbdfea;
      }

      &--menu-is-open {
        @apply border border-solid border-primary-blue_dark_1;
        box-shadow: none;
        outline: none;
      }

      &--is-focused {
        box-shadow: none;
        outline: none;
      }
    }

    &__placeholder {
      padding-left: 8px;
      font-weight: 400;
      font-size: 14px;
    }

    &__indicator-separator {
      display: none;
    }
  }
}
