.recent__orders__table {
  .ant-table {
    thead th {
      @apply text-secondary select-none;
      background-color: transparent;
      font-style: normal;
      font-weight: 400;
      font-size: 13.2px;
      line-height: 15px;

      // Hide antd select box on thead
      .ant-table-selection {
        display: none;
      }

      // Move antd first thead to the left
      &.ant-table-cell:nth-child(2) {
        left: -30px;
      }

      // Remove antd thead divider/separator
      &::before {
        display: none;
      }
    }

    // This centers antd thead sort icon
    .ant-table-column-sorter {
      margin-top: 5px;
    }

    tbody tr,
    tbody td {
      font-size: 13px;
    }
  }

  &__action {
    background-color: white !important;
  }

  &__name {
    @apply rounded-full flex justify-center items-center uppercase;
    width: 34px;
    height: 34px;
    background: #efecff;
  }

  &__info {
    @apply flex;
  }

  .font-base {
    font-size: 13px;
  }

  &__delete,
  &__edit {
    @apply text-secondary py-2 px-3;
    width: 90px;
    font-size: 12px;
    border-radius: 5px;
  }

  &__edit {
    @apply bg-primary-blue_light_4 mb-1;
  }

  &__delete {
    @apply bg-red-100 mb-1;
  }
}
