.user__notification {
  @apply bg-white;
  padding: 30px 25px;
  padding-right: 50px;
  height: 100%;

  @media (max-width: 992px) {
    border: none;
  }

  .ant-switch {
    &-checked {
      @apply bg-primary-blue_dark_2;
    }
  }
}
