.abandoned__cart__header {
  @apply flex flex-col lg:flex-row justify-between lg:items-center mb-12;

  &__title {
    @apply text-primary-blue_dark_1 mb-5 lg:mb-0;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  &__date {
    @apply flex flex-col base:flex-row justify-end;
  }

  &__from,
  &__to {
    @apply flex items-center;

    .font-xs {
      @apply text-secondary base:mr-2 w-12 base:w-auto;
    }
  }
}
