.profile__header {
  @apply flex items-center justify-between py-2;
  position: fixed;
  border-right: none;
  border-left: none;
  z-index: 999;
  height: 54.5px;
  width: 100%;

  @media (min-width: 1024px) {
    width: calc(100% - 224px);
  }

  &__mobile {
    @apply xs:w-[200px];
  }

  &__logo {
    @apply hidden xs:block;
  }

  &__search {
    @apply hidden sm:flex items-center;
    flex: 1;
    height: 40px;
  }

  &__search {
    input {
      display: block;
      height: 100%;
      width: 100%;
      border: none;
      padding: 0.4375rem 0.7rem;
      font-size: 0.8125rem;
      font-weight: 400;

      &:focus {
        box-shadow: none;
        border: none;
        outline: none;
      }
    }
  }

  &__right {
    @apply flex items-center justify-end cursor-pointer lg:w-[300px];
  }

  &__message {
    margin-right: 30px;
  }

  &__bell {
    margin-right: 30px;
    position: relative;

    &__badge {
      @apply absolute bg-primary-danger top-0 rounded-full;
      right: 3px;
      width: 6px;
      height: 6px;
    }
  }

  &__profile {
    @apply flex items-center;
  }

  &__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: 38px;
    width: 38px;
    margin-right: 16px;
    font-size: 14px;
    font-weight: 500;

    &__light {
      background-color: #efecff;
    }

    &__dark {
      height: 46px;
      width: 46px;
      background-color: #9d72ff;
      color: #fff;
      margin-right: 0;
    }
  }

  &__avatar__dropdown {
    padding: 10px 20px;
    margin-bottom: 20px;
    background: #f5f6fa;
  }

  &__role {
    @apply text-primary-blue_dark_3;
    font-size: 12px;
  }

  &__dropdown__menu {
    @apply bg-white relative shadow-md;
    top: 10px;
    width: 250px;
    padding-top: 0;
  }

  &__profile__button {
    @apply hidden lg:block text-primary-blue_dark_4;
  }

  &__dropdown__item {
    @apply text-primary-blue_dark_3 block w-full;
    font-size: 12px;
    padding: 10px 20px;
    margin-bottom: 1px;
    text-align: left;
    transition: all 0.3s;

    &:hover {
      @apply bg-slate-50;
    }
  }
}
