.common__search__form {
  form {
    @apply w-full bg-white pl-4 flex items-center;
    border-radius: 8px;
    height: 50px;
  }

  label {
    @apply flex items-center justify-center mr-2;
  }

  input {
    @apply h-full w-full block px-1;
    border-color: transparent;

    &:focus {
      border: none;
      outline: none;
    }

    &::placeholder {
      @apply text-xs text-secondary font-normal;
    }
  }
}
