@import './card';

.order__latest {
  &__title {
    @apply text-primary-blue_dark_1;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
