.home__profile__stats {
  @apply flex justify-evenly xl:justify-between bg-accent rounded-lg py-5 px-3 w-full base:w-96 xl:w-full mx-auto;

  @media (max-width: 350px) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  &__product,
  &__followers {
    @apply flex items-center relative;

    @media (max-width: 350px) {
      @apply w-full justify-between px-1;
    }
  }

  &__followers {
    hr {
      @apply relative hidden xl:block;
      position: relative;
      left: -20px;
      height: 30px;
      border: 1px solid #c4ddff;
    }
  }

  &__text {
    @apply text-secondary opacity-60;
    font-size: 12px;
    margin-bottom: 7px;
  }

  &__total {
    @apply text-primary-deep_1 font-semibold;
  }
}
