.order__timeline {
  &__heading {
    font-size: 18px;
    margin-left: -18px;
    font-weight: 600;
  }

  .font-base {
    font-size: 14px;
  }

  .font-xs {
    font-size: 12px;
  }

  .ant-timeline-item-tail {
    border-style: dashed;
  }
}
