.edit__general__info {
  @apply bg-white py-10 pb-8 px-7;
  border-radius: 6px;

  &__heading {
    @apply text-primary-blue_dark_1;
    font-size: 18px;
    font-weight: 600;
  }

  textarea {
    @apply text-primary-blue_dark_1 font-normal;
    border-radius: 4px;

    &:focus {
      @apply border border-solid border-primary-blue_dark_1;
      box-shadow: none;
      outline: none;
    }
  }
}
