.orders__stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;

  @media (max-width: 400px) {
    grid-template-columns: 1fr;
  }

  &__percentage &__gain {
    @apply text-primary-success font-medium;
  }

  &__loss {
    @apply text-primary-danger font-medium;
  }

  &__normal {
    @apply text-primary-warning font-medium;
  }

  &__card {
    @apply bg-white p-5 flex items-center justify-between;
    border: 1px solid;
    border-radius: 16px;

    @media (max-width: 400px) {
      @apply flex-col items-start;
    }

    &__title {
      margin-bottom: 3px;
    }

    &__amount {
      @apply text-primary-blue_dark_1 font-semibold;
    }

    &__gain {
      @apply border-primary-success;
    }

    &__loss {
      @apply border-primary-danger;
    }

    &__normal {
      @apply border-primary-warning;
    }
  }
}
