@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: 'smooth';
    box-sizing: border-box;
  }

  body,
  html {
    @apply text-secondary;
    font-family: 'Inter', sans-serif;
  }

  body {
    overflow-y: scroll;
  }

  button,
  i,
  a,
  ul,
  li {
    -webkit-tap-highlight-color: transparent;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  button,
  span,
  a {
    color: inherit;
  }
}

@layer utilities {
  .cm-border-radius {
    border: 1px solid rgba(0, 29, 110, 0.1);
    border-radius: 16px;
  }

  .cm-border {
    border: 1px solid rgba(0, 29, 110, 0.1);
  }

  .cm-border-left {
    border-left: 1px solid rgba(0, 29, 110, 0.1);
  }

  .font-xs {
    @apply text-xs font-normal;
  }

  .font-base {
    @apply text-base font-medium;
  }
}
