@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: 'smooth';
    box-sizing: border-box;
  }

  body,
  html {
    @apply text-secondary;
    font-family: 'Inter', sans-serif;
  }

  body {
    overflow-y: scroll;
    background: #f5f6fa;
  }

  button,
  i,
  a,
  ul,
  li {
    -webkit-tap-highlight-color: transparent;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  button,
  span,
  a {
    color: inherit;
  }
}

@layer utilities {
  .cm-border-radius {
    border: 1px solid rgba(0, 29, 110, 0.1);
    border-radius: 16px;
  }

  .cm-border {
    border: 1px solid rgba(0, 29, 110, 0.1);
  }

  .cm-border-left {
    border-left: 1px solid rgba(0, 29, 110, 0.1);
  }

  .cm-border-right {
    border-right: 1px solid rgba(0, 29, 110, 0.1);
  }

  .font-xs {
    @apply font-normal;
    font-size: 13px;
  }

  .font-base {
    @apply font-medium;
    font-size: 14px;
  }
}

// Fixes tailwind base overide
button.ant-btn.ant-btn-primary {
  background: #1890ff;
}

.ant-switch {
  @apply bg-primary-grey;
  &-checked {
    @apply bg-primary-success;
  }
}
