.customers__order__table {
  border-radius: 6px;
  padding-bottom: 0;
  padding-top: 30px;
  background-color: #fff;

  .customers__order__title {
    @apply text-primary-blue_dark_1;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }
}
